

  <!-- Page Title -->
  <div class="page-title" data-aos="fade">
    <div class="heading">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-8">
            <h1>{{title}}</h1>
            <p class="mb-0">{{short_description}}</p>
          </div>
        </div>
      </div>
    </div>
    <nav class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li class="current">{{title}}</li>
        </ol>
      </div>
    </nav>
  </div><!-- End Page Title -->

  <div class="container">
    <div class="row">

      <div class="col-lg-8">

        <!-- Blog Details Section -->
        <section id="blog-details" class="blog-details section">
          <div class="container">

            <article class="article">

              <div class="post-img">
                <img src="{{image}}" alt="{{title}}" class="img-fluid">
              </div>

              <h2 class="title">{{title}}</h5>

              <div class="meta-top">
                <ul>
                 
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="{{url}}"><time>{{date_created}}</time></a></li>
                 
                </ul>
              </div><!-- End meta top -->

              <div class="content">
                
                  

                
                 {{content}}
                 {{template}}
                 {{/content}}
                 
              </div><!-- End post content -->

           

            </article>

          </div>
        </section><!-- /Blog Details Section -->


      </div>

      <div class="col-lg-4 sidebar">

        <div class="widgets-container">

          

          <!-- Recent Posts Widget -->
          <div class="recent-posts-widget widget-item">

            <h3 class="widget-title">Recent Posts</h3>
            
            {{ collection:blog limit="5" paginate="true" as="posts" sort="date_created:desc" }}
            
            
            
             {{ if no_results }}
			        <p>Aww, there are no results.</p>
			    {{ /if }}
            
            {{ posts }}
             <div class="post-item">
              <img src="{{image}}" alt="{{title}}" class="flex-shrink-0">
              <div>
                <h5><a href="{{url}}">{{title}}</a></h5>
                <time>{{date_created}}</time>
              </div>
            </div><!-- End recent post item-->
            
            {{ /posts }}
            
            {{/collection:blog}}

           

           

          </div><!--/Recent Posts Widget -->

          

        </div>

      </div>

    </div>
  </div>

