<!DOCTYPE html>
<html lang="{{ site:short_locale }}">

<head>
  {{extra_scripts:head_data}}
</head>

<body class="{{ if is_homepage }} index-page {{else}} blog-page {{ /if }}">

  <header id="header" class="header d-flex align-items-center {{ if is_homepage }} fixed-top {{else}} sticky-top {{ /if }}">
    
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

     {{extra_scripts:header_nav}}

    </div>
  </header>

  <main class="main">

    {{ template_content }}
    
 </main>


  {{extra_scripts:footer_data}}

</body>

</html>